doctype html
html
	head
		meta(charset="UTF-8")
		title Évènements Gatineau/Ottawa
		link(href='stylesheet.css', rel='stylesheet')
		script(src="jquery-3.2.0.min.js")
		script(src="javascript.js")
		script.
			var search = function() {
				$.post( "/search", { info : $("#input-search").val() }).done(function( data ) {
					fillInfo(data["info"]);
				});
			}
	body
		.banner
			span Événements à venir
		.container
			.search-container
				input(id="input-search" class="search-bar" type="text" autocomplete='off' placeholder="Initier une recherche...")
				button(onclick="search();") Recherche
			#event-container.event-container
				for even in evens
					.event-object
						.image
							img(src=even.image height='180' alt='Non disponible')
						.text-zone
							div.name #{even.name}
							div.date #{even.date}
							div.address #{even.address}
							if even.telephone
									div.phone Tél: #{even.telephone}
							div.sujet #{even.sujet}
							div.website
								a(class="button" href=even.website target="_blank") Site Internet
							br(style="clear:both;")
				br(style="clear:both;")
			.footer
				span Créé par Jonathan Fillion, Miguel Charette et Joël Girard.